parameters:
  level: 8
  paths:
    - src
  ignoreErrors:
    - '#Trait [a-zA-Z0-9\\_:\(\)]+ is used zero times and is not analysed.#'
#    - '#Method [a-zA-Z0-9\\_:()]+ should return static\([a-zA-Z0-9\\_]+\) but returns [a-zA-Z0-9\\_]+\.#'
#    - '#Method [a-zA-Z0-9\\_]+::current\(\) should return [a-zA-Z0-9\\_]+ but returns object\.#'
